@import "tailwindcss";

/* Definición del tema para Tailwind v4 */
@theme {
  --color-primary: #2563EB;
  --color-background: #0F172A;
  --color-surface: #1E293B;
}

/* Estrategia de Dark Mode para next-themes */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-slate-900 transition-colors duration-300 antialiased;
  }

  :root.dark body {
    @apply bg-[--color-background] text-slate-100;
  }
}

/* Importamos el plugin al final para asegurar que tailwind ya cargó */
@plugin "tailwindcss-animate";